<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="Target" value="..\..\Pictures\ara_ararauna_luc_viatour_thumb.jpg"/>
    <!--<add key="Target" value="..\..\Pictures\valve.png"/>-->
    <!--<add key="Target" value="..\..\Pictures\vegetables.png"/>-->
    <!--<add key="Target" value="..\..\Pictures\New Vegas.jpg"/>-->
    <!--<add key="Target" value="..\..\Pictures\shreck.png"/>-->
    <add key="Destination" value="..\..\Output\filter.jpg"/>
  </appSettings>
</configuration>